/**
 * Settings page.
 */

/* Carrot dashicon in the settings page heading. */
.wp-motivator .dashicons-carrot {
    vertical-align: top;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
            filter: FlipH;
    -ms-filter: "FlipH";
    font-size: 1.4em;
    margin: 0 0.1em 0 0.3em;
    color: #fd7f0f;
}

/* Contributors list. */
.wp-motivator-contributors-list li {
    display: inline;
}

/* Add commas to the contributors list. */
.wp-motivator-contributors-list li:not(:last-of-type):after {
    content: ',';
}

/**
 * Admin menu.
 */

/* Hightlight the admin menu with the carrot color when the settings page is open. */
ul#adminmenu li#menu-settings ul li a[href="options-general.php?page=wp-motivator"].current {
    position: relative;
    background: #fd7f0f;
}

/* Add and manipulate the carrot icon */
ul#adminmenu li#menu-settings ul li a[href="options-general.php?page=wp-motivator"].current:before {
    display: inline-block;
    margin-right: 0.25em;
    vertical-align: top;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
            filter: FlipH;
    -ms-filter: "FlipH";
    font-family: dashicons;
    font-size: 1.4em;
    font-weight: normal;
    content: '\f511';
    color: #a0a5aa;
    color: rgba(240,245,250,.6);
}

/* Add the arrow indicator to the menu entry when settings page is open. */
ul#adminmenu li#menu-settings ul li a[href="options-general.php?page=wp-motivator"].current:after {
    right: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f1f1f1;
    top: 50%;
    margin-top: -8px;
}

/**
 * Plugins page.
 */

/* Hightlight the settings link with the carrot color on the Plugins page. */
tr[data-slug="wp-motivator"] a.wp-motivator-settings-link:hover,
tr[data-slug="wp-motivator"] a.wp-motivator-settings-link:focus {
    color: #fd7f0f;
}

tr[data-slug="wp-motivator"] .plugin-title {
    display: inline-block;
    position: relative;
}

/* Add and manipulate the carrot icon */
tr[data-slug="wp-motivator"] .plugin-title:before {
    position: absolute;
    left: 0;
    top: 0.575em;
    display: inline-block;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipH;
            filter: FlipH;
    -ms-filter: "FlipH";
    vertical-align: top;
    font-family: dashicons;
    font-size: 1.4em;
    font-weight: normal;
    content: '\f511';
    color: #fd7f0f;
}

tr[data-slug="wp-motivator"] .plugin-title > strong {
    padding-left: 0.75em;
}

/**
 * Admin pages message output.
 */

/* The message at the top of admin pages. */
.wp-motivator-message {
    float: right;
}

/* The message at the top of admin pages. */
.wp-motivator-message p {
    margin: 0.3em 0;
    text-align: right;
    padding-right: 1em;
    font-size: 1.125em;
    font-style: italic;
    color: #555;
}

/**
 * Welcome panel output.
 */

/* Welcom content */
.welcome-panel-content.wp-motivator-welcome-content {
    max-width: 100%;
    margin: 0;
    padding: 0 1em;
}

/* Welcome panel heading. */
.wp-motivator-welcome-content header h2 {
    padding-bottom: 1em;
    border-bottom: solid 1px #ddd;
}

/* Welcome panel container. */
.wp-motivator-welcome-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em 0;
}

/* Welcome panel columns. */
.welcome-panel .wp-motivator-welcome-content .welcome-panel-column {
    float: none;
    width: auto;
    max-width: 33.33325%;
    max-width: calc(100% / 3);
    min-width: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1em;
}

.welcome-panel .wp-motivator-welcome-content .welcome-panel-column:first-of-type {
    max-width: 100%;
}

.welcome-panel .wp-motivator-welcome-content .welcome-panel-column.welcome-panel-last {
    width: 240px;
    min-width: 240px;
}

/* Big message blockquote. */
.wp-motivator-welcome-content blockquote {
    margin: 0;
    font-size: 2.4em;
    font-family: serif;
    font-style: italic;
    line-height: 1.4;
    color: #7e7e7e;
}

.wp-core-ui .welcome-panel .wp-motivator-welcome-content .button.button-hero {
    margin: 0;
}

/**
 * Dashboard widget.
 */

/* Widget output. */
.wp-motivator-widget-message {
    margin: 0;
    font-size: 1.5em;
    font-family: serif;
    font-style: italic;
    line-height: 1.4;
    color: #7e7e7e;
}

/**
 * Admin pages footer output.
 */

/* The message at the bottom of admin pages. */
#wpfooter p {
    margin: 0.3em 0;
    text-align: right;
    padding-right: 1em;
    font-size: 1.125em;
    font-style: italic;
    color: #555;
}

/**
 * Help content.
 */
.help-tab-content .wp-motivator-help * {
    margin: 0;
    line-height: 1.4;
}

.help-tab-content .wp-motivator-help h3,
.help-tab-content .wp-motivator-help h4 {
    margin-top: 1em;
}

.help-tab-content .wp-motivator-help p,
.help-tab-content .wp-motivator-help ul,
.help-tab-content .wp-motivator-help ol {
    margin-top: 0.7em;
}

.help-tab-content .wp-motivator-help ul,
.help-tab-content .wp-motivator-help ol {
    margin-left: 1em;
}

.help-tab-content .wp-motivator-help .motivator-hooks-list li {
    margin: 0.75em 0;
    -webkit-user-select: all;
       -moz-user-select: all;
        -ms-user-select: all;
            user-select: all;
}

/**
 * Media queries.
 */
@media screen and (max-width: 960px) {

    .wp-motivator-welcome-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
           -moz-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
           -moz-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .welcome-panel .wp-motivator-welcome-content .welcome-panel-column.welcome-panel-last {
        width: 240px;
        min-width: 240px;
    }
}